// ----------------------------
// bootstrap variable overrides
// ----------------------------

// end bootstrap variable overrides
@import 'bootstrap';

//Gold Challenge: Customizing the NavBar
.navbar {
  background-color: #99ff99;
  border-radius: 2px;
  box-shadow: 1px 1px;
  padding: 2px;
}
