// ----------------------------
// bootstrap variable overrides
// ----------------------------

// end bootstrap variable overrides
@import 'bootstrap';

//Gold Challenge: Customizing the NavBar
.navbar {
  background-color: #99ff99;
  border-radius: 2px;
  padding: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
}
