<header>
  <!--Silver Challenge: Making the NavBar a Component -->
  {{navbar showLinkCryptids=true}}
</header>
<div class="container">
  {{#if isAlertShowing}}
    {{flash-alert
      message=alertMessage
      alertType=alertType
      close=(action "removeAlert")}}
  {{/if}}
  {{outlet}}
</div>
